.card-disable {
  color: white !important;
  padding: 12px 40px;
}

.card-disable:disabled {
  cursor: not-allowed;
}

#complete-order-paypal {
  color: white !important;
  padding: 12px 40px;
}

#complete-order-paypal:disabled {
  cursor: not-allowed;
}


